<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Database Demo</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'polls/css/grayscale.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>
<body>

<!-- Demo Section -->
<header class="demo">
    <div class="demo-section">
        <div class="container content-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Basic database functionality</h3>
                <h4>for</h4>
                <h1>SteamATLAS</h1>
                <a href="#list" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</header>

<!--- List of Games-->
<section id = "list" class = "content-section text-center">
    <div class = "list-section">
        <div class = "container">
            <div class = "col-lg-8 col-lg-offset-2">
                <h4>List of Games: </h4>
                {% if latest_game_list %}
                <ul>
                    {% for game in latest_game_list %}
                    <li><a href="{% url 'polls:detail' game.id %}">{{ game.name }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No polls are available.</p>
                {% endif %}



                 <form action="#" method="get">
                 <input type="text" name="insertBox" style="background-color:white;
                                                  border: solid 1px #6E6E6E;
                                                  height: 30px;
                                                  font-size:18px;
                                                  vertical-align:9px;color:#000" />
                  <input type="text" name="insertDesc" style="background-color:white;
                                                  border: solid 1px #6E6E6E;
                                                  height: 30px;
                                                  font-size:18px;
                                                  vertical-align:9px;color:#000" />
                 <input type="submit" class="btn" value="Insert" name="Insert">
                </form>
                <form action="#" method="get">
                 <input type="text" name="deleteBox" style="background-color:white;
                                                  border: solid 1px #6E6E6E;
                                                  height: 30px;
                                                  font-size:18px;
                                                  vertical-align:9px;color:#000" />
                 <input type="submit" class="btn" value="Delete" name="Delete">
                </form>


                 <form action="#" method="get">
                 <input type="text" name="searchBox" style="background-color:white;
                                                  border: solid 1px #6E6E6E;
                                                  height: 30px;
                                                  font-size:18px;
                                                  vertical-align:9px;color:#000" />
                 <input type="submit" class="btn" value="Search" name="Search"  onClick="history.go(0)">
                </form>



                 <form action="#" method="get">
                 <input type="text" name="updateName" style="background-color:white;
                                                  border: solid 1px #6E6E6E;
                                                  height: 30px;
                                                  font-size:18px;
                                                  vertical-align:9px;color:#000" />
                          <input type="text" name="updateDesc" style="background-color:white;
                                                  border: solid 1px #6E6E6E;
                                                  height: 30px;
                                                  font-size:18px;
                                                  vertical-align:9px;color:#000" />
                 <input type="submit" class="btn" value="Update" name="Update"  onClick="history.go(0)">
                </form>





                {{ x }}
            </div>
        </div>
    </div>
</section>




</body>
</html>